version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dtb-backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: always
