@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: ui-sans-serif, Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.login-page > div {
	box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.12);
}

.register-page > div {
	box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.12);
}

.main-input {
	@apply bg-primary placeholder-tertiary rounded-[2px] mb-2 mt-2 px-4 py-2 border border-solid border-tertiary drop-shadow-2xl;
}

.main-button {
	@apply btn text-base font-bold rounded-[5px] bg-primary-content text-primary hover:bg-primary hover:text-primary-content;
}

.base-page {
	@apply bg-primary text-primary-content h-screen w-screen;
}

.custom-navbar {
	ul {
		li {
			svg {
				transition: 70ms ease-in-out 20ms;
				transition-property: filter, height, width, transform;
			}
			svg:hover {
				filter: brightness(120%);
				transform: translateY(-2%) translateX(2%);
				height: 43px;
				width: 43px;
			}
		}
	}
	div {
		a {
			img {
				filter: brightness(80%);
			}
		}
	}
	.avatar {
		div {
			border: 1px solid theme('colors.primary-content');
			transition-delay: 25ms;
			transition-duration: 30ms;
			transition-timing-function: ease-in-out;
			transition-property: outline;
		}
		div:hover,
		.active-profile-button {
			outline-offset: 2px;
			outline: theme('colors.primary-content') solid 1.5px;
		}
	}
}

.board {
	.board-sides-title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 80px;
		padding: 5px 15px;
		font-size: 1.1rem;
		text-align: center;
		margin: 2px 0px 10px;
		background-color: theme('colors.secondary');
		border: 1px solid theme('colors.tertiary');
		border-radius: 7px;
	}
}

.task-card {
	transition:
		height 200ms ease-in-out 50ms,
		visibility 200ms ease-in-out 50ms;
}

.task-card-open {
	height: 120px;
	visibility: visible;
}

.task-card-closed {
	height: 0px;
	visibility: hidden;
}

.completion-circle {
	.outer {
		height: 100%;
		aspect-ratio: 1 / 1;
		padding: 0;
		margin: 0;
		border-radius: 50%;
		border: none;
		overflow: hidden;
		background-color: theme(colors.tertiary);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* important part */
		display: grid;
		place-items: center;
		grid-template-areas: 'inner-div';
	}

	.inner {
		height: 71%;
		width: 71%;
		border-radius: 50%;
		border: none;
		background: theme(colors.secondary);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: 'SF PRO DISPLAY';
		font-weight: bold;
		font-size: 70%;
		word-wrap: break-word;
		/* important part */
		grid-area: inner-div;
		color: theme(colors.primary-content);
	}

	svg {
		width: 100%;
		height: 100%;
		/* important part */
		grid-area: inner-div;
	}

	circle {
		fill: none;
		stroke-linecap: round;
		stroke: theme(colors.primary-content);
		stroke-width: 12%;
		transition: stroke-dashoffset 1s 0ms ease-in-out;
	}
}

.task-slider {
	-webkit-appearance: none;
	height: 10px;
	background: theme(colors.primary-content);
	outline: none;
	opacity: 0.7;
	cursor: pointer;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	border-radius: 9999px; /* This value ensures the progress bar has round edges */
}

.task-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	background: theme(colors.primary);
	cursor: pointer;
	border-radius: 50%;
	z-index: 2;
}

.task-slider::-moz-range-thumb {
	width: 13px;
	height: 13px;
	background: theme(colors.primary);
	cursor: pointer;
	border-radius: 50%;
	z-index: 2;
}

.task-slider::-moz-range-progress {
	height: 8px;
	background-color: theme(colors.primary);
}

.task-slider::-webkit-slider-runnable-track {
	background-color: theme(colors.primary);
}
